@import url(./cssSeparados/menu.css);
@import url(./cssSeparados/banner.css);
@import url(./cssSeparados/blog.css);
@import url(./cssSeparados/info.css);
@import url(./cssSeparados/footer.css);
@import url(./cssSeparados/presentacion.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
    font-family: 'Permanent Marker', cursive;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

span img {
    height: 30px;
    width: auto;
}

.musica {
    font-size: 20px;
    font-weight: 700;
}

#youtube {
    display: none;
    visibility: hidden;
}

@media (min-width: 1024px) {
    .contenedor {
        width: 1000px;
    }
}