#info {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-fotos {
    margin: 20px;
}

.info-fotos img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}
